@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-source-code-pro);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), Arial, Helvetica, sans-serif;
}
